body{
    background-color: grey;


}
.container{
    font-family: "Concert One", cursive;
    text-align: center;
    position: relative;
    margin-top: 40px;
} 

a{
    color: white;

}
h1{
    font-size: 45px;
    color: white;
    text-align: center;
} 
.btn{

    font-size: 20px;
    text-align: center;
    font-family: "Concert One", cursive;
    height: 50px;
    width: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
    background-color: #eb6d05;
    color: white;
    line-height: 1.5;
    align-items: center;
    justify-content: center;
    
} 