body{
  background-color: grey;
}
p, h1{
  font-family: "Concert One", cursive;
  text-align: center;
  color: white;
  font-size: 1.5em;
  padding-bottom: 10px;
}
h1{
  font-size: 45px;
    color: white;
    text-align: center;
}
#countdown{
  font-family: "Concert One", cursive;
  float: right;
  color: white;
  font-size: 15px;
  padding-bottom: 10px;
  padding-bottom: 20px;
}
#score{
  font-family: "Concert One", cursive;
  color: white;
  font-size: 15px;
  padding-bottom: 10px;
  padding-bottom: 20px;
}

ol{
  margin-top: 35px;
 
}
li {
  text-align: center;
  font-family: "Concert One", cursive;
  height: 50px;
  width: 50%;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  background-color: #eb6d05;
  color: white;
  line-height: 1.5;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 20%;
}
